.button-cta {
    	height: 45px;
    	width: 127px;
    	border-radius: 4px;
    	background-color: #FFFFFF;
    	box-shadow: 0 6px 20px 0 rgba(0,0,0,0.15);
    	color: #00A5E4;
    	font-size: 12px;
    	letter-spacing: 1px;
    	line-height: 14px;
    	text-align: center;
    }
