/* BUTTONS */
.button--download {
    	height: 45px;
    	width: 127px;
    	border-radius: 4px;
        border: none;
    	background-color: #FFFFFF;
    	box-shadow: 0 6px 20px 0 rgba(0,0,0,0.15);
    	color: #00A5E4;
    	font-size: 12px;
    	letter-spacing: 1px;
    	line-height: 45px;
    	text-align: center;
        text-transform: uppercase;
}

.button--primary {
    	height: 45px;
    	width: 170px;
    	border-radius: 4px;
    	background: linear-gradient(270deg, #4DD0E1 0%, #2196F3 100%);
    	box-shadow: 0 17px 20px 0 rgba(35,10,74,0.15);
        color: #fff;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
}

.button--appStore .button--playStore {
	height: 45px;
	width: 151px;
	border-radius: 4.19px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

.button--appStore_opac {

}

.button--playStore_opac {

}

/* BODY */

* {
    font-family: Avenir;
}

.section--dark .section--hero{
    background-image: url(user-hero.jpg);
    width: 100%;
    background-size: cover;

}

.header--links li {
    display: flex;
    text-decoration: none;
    float: right;
    align-items: center;
}

.section--footer.section--dark.section--navigation.section--copyright {
    background-color: #17213A;
}
