.button-cta {
    	height: 45px;
    	width: 127px;
    	border-radius: 4px;
    	background-color: #FFFFFF;
    	box-shadow: 0 6px 20px 0 rgba(0,0,0,0.15);
    	color: #00A5E4;
    	font-size: 12px;
    	letter-spacing: 1px;
    	line-height: 14px;
    	text-align: center;
    }

    .button-default {
    	height: 45px;
    	width: 170px;
    	border-radius: 4px;
    	background: linear-gradient(270deg, #4DD0E1 0%, #2196F3 100%);
    	box-shadow: 0 17px 20px 0 rgba(35,10,74,0.15);
        color: #fff;
        font-size: 12px;
        text-align: center;
    }
